<strong>Olá, {{ user }}</strong>
<p>O usuário {{ subscribed }}, acabou de se inscrever na sua meetup: {{ title }}</p>
<p>
  <strong>Descrição: </strong> {{ description }} <br />
  <strong>Local: </strong> {{ location }} <br />
</p>
